@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

body,
td,
th,
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  
}

ul,
li {
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
  margin: 0 auto;
  position: relative;
  max-width: 1300px;
  height: 100%;
}

#footer {
  background-color: #444;
  color: white;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 25px;
  font-weight: 200;
  line-height: 80px;
  letter-spacing: 7px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 15px 40px 15px;
  list-style: none;
  background-color: rgb(27, 71, 100);
  margin: 0;
  width: 100%;

}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
  color: rgb(255, 255, 255);
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: rgb(255, 255, 255);
  content: ">\00a0";
  font-size: 18px;
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 18px;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 15px;
  background-color: rgb(27, 71, 100);
  align-items: center;
}

.filter-options h2 {
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}

#restaurants-list li {
  position: relative;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 25px 25px 75px 25px;
  text-align: left;
  width: 270px;
  box-shadow: 2px 4px 3px rgb(189, 186, 186);
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: orange;
  color: rgb(43, 40, 40);
  display: inline-block;
  font-size: 10pt;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 25px;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: calc(100% - 50px);
  border-radius: 4px;
  box-shadow: 2px 4px 3px rgb(189, 186, 186);
}

#restaurants-list li a:hover {
  background-color: orange;
  color: #154eaa;
}


/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: transparent none repeat scroll 0 0;
  position: relative;
  z-index: 0;
  width: 33%;
  padding-left: 15px;
}


.inside #restaurant-container {
 padding-top: 140px;
}

#restaurant-wrapper {
 display: flex;
 justify-content: space-between;
 width: 100%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

#restaurant-name {
  color: #f18200;
  font-family: 'Montserrat', sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 20px 0 20px;
  text-transform: uppercase;
  line-height: 1.1;
  width: 100%;
}

#restaurant-card {
  display: flex;
  width: 100%;
  background-color: white;
  padding: 25px;
  box-shadow: 2px 4px 3px rgb(189, 186, 186);

}

#info-container {
  width: 50%;
  padding-left: 25px;
}

#image-container {
  width: 50%;
}

#restaurant-img {
  display: block;
  width: 100%;

}

#restaurant-address {
  margin: 0 0 15px;
  font-size: 12pt;

}

#restaurant-cuisine {
  padding: 5px 0;
  margin: 0;
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}

#restaurant-infos {
 
  width: 66%;
}



#restaurant-container,
#reviews-container {
  padding: 0px 40px 30px;
}

#reviews-container {
  padding: 30px 40px 80px;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  width: calc(33% - 10px);
  box-shadow: 2px 4px 3px rgb(189, 186, 186);
}

#reviews-list li p {
  margin: 0 0 10px;
}

#reviews-list li p:first-child {
  font-weight: bold;
}

#restaurant-hours td {
  color: #666;
  /* vertical-align: top; */
}

#restaurant-hours td:last-child {
  text-align: right;
  width: 180px;
}

#restaurant-hours {
  width: 100%;
}